
header {
    height: 42px;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    background-color: white;
    z-index: 10;
}

nav > button.right-pushed {
    float: right;
}

#site-banner {
    height: 150px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 42px;
    text-align: center;
}
#banner-img {
    max-height: 100%;
    max-width: 100%;
}

.main-content {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 20px;
}

footer {
    margin-top: 100px;
    width: 100%;
    text-align: center;
    background-color: #eee;
    padding: 15px;
}
