
<div class="animated fadeIn">
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-header">
                    <strong>Image {{ image?.id }}</strong>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <img class="pictissou-image-full" [src]="image?.url">
                        </div>
                        <div class="col-sm-6">
                            <ul>
                                <li>Id: {{ image?.id }}</li>
                                <li>Catégorie: {{ image?.category?.cat }}</li>
                                <li>Vues: {{ image?.views }}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-header">
                    <strong>Commentaires</strong>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-12" *ngFor="let comment of image?.comments">
                            <p>
                                <b>{{comment.id}}</b> - <b>{{ comment.comment }}</b><br>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
