<mat-tab-group>
    <mat-tab label="Récents">
        <h1>Images récemment ajoutées</h1>
        <div class="img-container">
            <img *ngFor="let image of images.recent" src="http://via.placeholder.com/150x150">
        </div>
    </mat-tab>
    <mat-tab label="Populaires">
        <h1>Images les plus vues</h1>
        <div class="img-container">
            <img *ngFor="let image of images.popular" src="http://via.placeholder.com/150x150">
        </div>
    </mat-tab>
</mat-tab-group>
